<div class="product-list">
  <div class="product" *ngFor="let item of items">
    <img src="{{item.url}}" alt="{{item.name}}">
    <div class="details">
      <h2>{{item.name}}</h2>
      <p>Price: {{item.price}}</p>
      <div class="quantity">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" [(ngModel)]="item.quantity" min="0" max="10" (input)="onQuantityChange()">
      </div>
    </div>
  </div>
</div>

<div class="checkout-form">
  <div class="userforms">
    <h3>Shipping Information</h3>
    <label for="name">Name:</label>
    <input type="text" placeholder="Enter your name (min. 5 Char.)" id="name" name="name" [(ngModel)]="userName" required>
    <label for="address">Address:</label>
    <input type="text" placeholder="Enter your adress (min. 5 Char)" id="address" name="address" [(ngModel)]="userAddress" required>
    <label for="credit-card">Credit Card Number:</label>
    <input type="text" placeholder="Enter your CC details (min. 7 digits)" id="credit-card" name="credit-card" [(ngModel)]="userCreditCard" required>
  </div>

  <div class="summary">
    <h2>Total Price: {{totalPrice}}</h2>
    <button routerLink="/success" (click)="onSubmit()"
    [disabled]="userName.length < 5 || userAddress.length < 5 || userCreditCard.length < 7">Submit</button>
  </div>
</div>




