<div class="center">
  <div class="product">
    <img
      src="{{ product.url }}"
      alt="{{ product.name }}"
      style="max-width: 50%"
    />
    <div class="details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>{{ product.price }}</p>
      <select
        [(ngModel)]="product.quantity"
        name="quantity"
        style="margin-bottom: 10px"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button (click)="addToCart(product)">Add to Cart</button>
      <a routerLink="/">Go back to product list</a>
    </div>
  </div>
</div>
